// Cores principais
$orange: #ffd88f;
$blue: #002872;

// Outras cores
$light_orange: #ffeecf;
$dark_orange: #ffb730;
$trans_blue: #72a3ffe0;
$black: #202020;
$white: #f0f8ff;
$error: #af3131;
